.contact .input-container {
  position: relative;
}

.contact .input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.contact .input-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/* Style the custom dropdown arrow */
.contact .input-container select::-ms-expand {
  display: none;
}

/* Style the underline */
.contact .input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

/* Style the container to give a nice visual effect */
.contact .input-container {
  position: relative;
  margin-bottom: 20px; /* Adjust as needed */
}

/* Style the container to give a nice visual effect when the dropdown is focused */
.contact .input-container:focus-within .underline {
  background-color: #3498db; /* Adjust the color as needed */
}
