img {
  /*  To contain the image to the confines of the div  */
  max-width: 100%;
}

.img-gradient {
  max-width: 100%;
  margin: auto;
}

.img-gradient::after {
  /* display: block; */
  position: absolute;
  background-image: linear-gradient(to top, #333694 1%, transparent);
  /* height: 400px; */
  /* width: 100%; */
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
