.key-section {
  & .hex1 {
    width: 100px;
    height: 100px;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
    display: block;
    background-color: #2d3091;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
      display: block;
      background-color: #8695b7;
      z-index: -1;
    }
  }
}

.grad-circle {
  background: rgb(186, 213, 255);
  background: linear-gradient(250deg, rgba(186, 213, 255, 1) 0%, transparent);
}
